{% extends "home/base.html.twig" %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/liste.css" />
{% endblock %}
{% block content %}
    <div style="padding-top: 100px;" class="container" >
        <div  class="section-header" >
            series
        </div>
        {% for serie in series %}
    <div class="liste-item-sm">
        <!-- SERIE ITEM -->
        <a href="/serie/{{serie.id}}" class="movie-item">
            <img src="{{ serie.cover }}" alt="">
            <div class="movie-item-content">
                <div class="movie-item-title">
                    {{ serie.name}}
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="bx bxs-star"></i>
                        <span>{{ serie.rating }}</span>
                    </div>
                    <div class="movie-info">
                        <span>{{ serie.releaseYear }}</span>
                    </div>
                    <div class="movie-info">
                        <span>16+</span>
                    </div>
                </div>
            </div>
        </a>
        <!-- END SERIE ITEM -->
        {% endfor %}

    </div>
</div>
{% endblock %}